{% extends "adminPanel/adminPanel.html" %}
{% block content %}
<div id="sidebarMenu" class="sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a href="{% url 'adminPanel:adminPanel' %}" class="list-group-item list-group-item-action py-2 ripple  ">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="{% url 'adminPanel:adminProducts' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
            </a>
            <a href="{% url 'order:rental_management' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Rental Details</span>
            </a>
            <a href="{% url 'adminPanel:adminCategory' %}" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Category</span>
            </a>
            <a href="{% url 'adminPanel:user_offers' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Offers</span>
            </a>
            <a href="{% url 'adminPanel:coupons_page' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Coupons</span>
            </a>
            <a href="{% url 'adminPanel:providerList' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Providers</span>
            </a>
            <a href="{% url 'adminPanel:renterList' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Renters</span>
            </a>
        </div>
    </div>
</div>

<div id="productContent" class="container d-flex flex-column" style="max-width: 800px; height: 500px; margin-top: 110px; margin-left: 300px;">
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <a href="{% url 'adminPanel:adminAddCategory' %}"><button type="submit" class="btn btn-success">Add Category</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in cat %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ category.Name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <a href="{% url 'adminPanel:adminDeleteCategory' category.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'adminPanel:adminUpdateCategory' category.id %}" class="btn btn-primary">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
