{% extends 'adminPanel/adminPanel.html' %}
{% block content %}

<div
id="TopMenu"
class="sidebar bg-white d-block d-md-none"
style="margin-top: 10rem"
>
<div class="position-sticky">
  <div class="list-group list-group-flush">
    <a
      href="{% url 'adminPanel:adminPanel' %}"
      class="list-group-item list-group-item-action py-2 ripple "
    >
      <i class="fas fa-tachometer-alt fa-fw me-3"></i
      ><span>Dashboard</span>
    </a>
    <a
      href="{% url 'adminPanel:adminProducts' %}"
      class="list-group-item list-group-item-action py-2 ripple active"
    >
      <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
    </a>
    <a
      href="{% url 'order:rental_management' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-lock fa-fw me-3"></i><span>Rental Details</span>
    </a>
    <a
      href="{% url 'adminPanel:adminCategory' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Category</span>
    </a>
    <a
      href="{% url 'adminPanel:product_offer_form' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i
      ><span>Product Offers</span>
    </a>
    <a
      href="{% url 'adminPanel:category_offer_form' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i
      ><span>Category Offers</span>
    </a>
    <a
      href="{% url 'adminPanel:coupons_page' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Coupons</span>
    </a>
    <a
      href="{% url 'adminPanel:providerList' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Providers</span>
    </a>
    <a
      href="{% url 'adminPanel:renterList' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Renters</span>
    </a>
  </div>
</div>
</div>
<div id="sidebarMenu" class="sidebar bg-white d-none d-md-block">
<div class="position-sticky">
  <div class="list-group list-group-flush">
    <a
      href="{% url 'adminPanel:adminPanel' %}"
      class="list-group-item list-group-item-action py-2 ripple "
    >
      <i class="fas fa-tachometer-alt fa-fw me-3"></i
      ><span>Dashboard</span>
    </a>
    <a
      href="{% url 'adminPanel:adminProducts' %}"
      class="list-group-item list-group-item-action py-2 ripple active"
    >
      <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
    </a>
    <a
      href="{% url 'order:rental_management' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-lock fa-fw me-3"></i><span>Rental Details</span>
    </a>
    <a
      href="{% url 'adminPanel:adminCategory' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Category</span>
    </a>
    <a
      href="{% url 'adminPanel:product_offer_form' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i
      ><span>Product Offers</span>
    </a>
    <a
      href="{% url 'adminPanel:category_offer_form' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i
      ><span>Category Offers</span>
    </a>
    <a
      href="{% url 'adminPanel:coupons_page' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Coupons</span>
    </a>
    <a
      href="{% url 'adminPanel:providerList' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Providers</span>
    </a>
    <a
      href="{% url 'adminPanel:renterList' %}"
      class="list-group-item list-group-item-action py-2 ripple"
    >
      <i class="fas fa-chart-line fa-fw me-3"></i><span>Renters</span>
    </a>
  </div>
</div>
</div>

<div id="productContent"
class="container d-flex flex-column"
style="max-width: 600px; height: 700px; margin-top: 120px">
    <h1 class="text-center mb-4">Product List</h1>
    <form class="form-inline" method="get" action="{% url 'adminPanel:product_searchbar' %}">
    
    <div class="input-group rounded">
      {% if query %}
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="q" value="{{query}}"/>
      {% else %}
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="q"/>
      {% endif %}
      <button type="submit" class="btn btn-transparent"><span class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
      </span></button>
    </div>
    </form>
    {% if products %}
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex">
                        <div class="mr-3">
                            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-thumbnail" style="max-height: 100px;">
                        </div>
                        <div>
                            <h5>{{ product.title }}</h5>
                            <p>Provider: {{ product.user }}</p>
                            <p>Price per day: {{ product.price }}</p>
                        </div>
                    </div>
                    <div>
                        <form method="post" action="{% url 'adminPanel:activeDeactiveProducts' product.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn {% if product.is_active %}btn-danger{% else %}btn-success{% endif %} btn-sm">
                                {% if product.is_active %}Deactivate{% else %}Activate{% endif %}
                            </button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
        <div class="pagination mt-4">
          <span class="step-links">
              {% if products.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ products.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ products.number }} of {{ products.paginator.num_pages }}.
              </span>
      
              {% if products.has_next %}
                  <a href="?page={{ products.next_page_number }}">next</a>
                  <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
      
        
    {% else %}
        <div class="alert alert-info mt-4 text-center">
            No products found.
        </div>
    {% endif %}
</div>






{% endblock %}
