{% extends "adminPanel/adminPanel.html" %}
{% block content %}
<div id="sidebarMenu" class="sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a href="{% url 'adminPanel:adminPanel' %}" class="list-group-item list-group-item-action py-2 ripple  ">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="{% url 'adminPanel:adminProducts' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
            </a>
            <a href="{% url 'order:rental_management' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Rental Details</span>
            </a>
            <a href="{% url 'adminPanel:adminCategory' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Category</span>
            </a>
            <a href="{% url 'adminPanel:product_offer_form' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Product Offers</span>
            </a>
            <a href="{% url 'adminPanel:category_offer_form' %}" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Category Offers</span>
            </a>
            <a href="{% url 'adminPanel:coupons_page' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Coupons</span>
            </a>
            <a href="{% url 'adminPanel:providerList' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Providers</span>
            </a>
            <a href="{% url 'adminPanel:renterList' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Renters</span>
            </a>
        </div>
    </div>
</div>

<div id="productContent" class="container d-flex flex-column" style="max-width: 800px; height: 500px; margin-top: 120px; margin-left: 300px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'adminPanel:add_category_offer' %}"><button type="submit" class="btn btn-success">Add Offer</button></a>
    <h2>Category Offer</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Discount</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in categories_offer %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.category }}</td>
                    <td>{{ i.discount_percentage }}%</td>
                    <td>{{ i.start_date }}</td>
                    <td>{{ i.end_date }}</td>
                    <td>
                        {% if i.is_active %}
                        <a href="{% url 'adminPanel:block_unblock_cat' i.id %}" class="btn btn-danger">Block</a>
                        {% else %}
                        <a href="{% url 'adminPanel:block_unblock_cat' i.id %}" class="btn btn-success">Unblock</a>
                        {% endif %}
                        {% comment %} <a href="{% url 'adminPanel:adminUpdateCategory' category.id %}" class="btn btn-primary">Update</a>  {% endcomment %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
