{% extends 'adminPanel/adminPanel.html' %}
{% block content %}

<div id="sidebarMenu" class="sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a href="{% url 'adminPanel:adminPanel' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="{% url 'adminPanel:adminProducts' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
            </a>
            <a href="{% url 'order:rental_management' %}" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-lock fa-fw me-3"></i><span>Rental Details</span>
            </a>
            <a href="{% url 'adminPanel:adminCategory' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Category</span>
            </a>
            <a href="{% url 'adminPanel:coupons_page' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Coupons</span>
            </a>
            <a href="{% url 'adminPanel:providerList' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Providers</span>
            </a>
            <a href="{% url 'adminPanel:renterList' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Renters</span>
            </a>
        </div>
    </div>
</div>

<div id="content" class="container" style="margin-top: 15px;">
    <!-- Your content goes here -->
</div>

<div class="container mt-4" style="margin-left: 270px; max-width: 1050px;">
    <h1 class="text-2xl">Rental Details</h1><br>
    <ul class="list-group">
        {% for i in ord %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div>
                    <h4 class="mb-1">Product: {{ i.product }}</h4>
                    <p class="mb-1">Quantity: {{ i.quantity }}</p> 
                    <p class="mb-1">Days required: {{ i.days_needed }}</p>
                    <p class="mb-1">Address: <span>{{ i.address.firstname }} {{ i.address.lastname }}</span></p>
                    <p class="mb-1">{{ i.address.address }},{{ i.address.street }},{{ i.address.city }}</p>
                    <p class="mb-1">{{ i.address.phone }}</p>
                    
                </div>
                <div class="col d-flex flex-column align-items-end">
                    <span class="mb-2" style="color: #000000;">Total price: ₹{{ i.total_price }}</span>
                    <div class="footer">
                        {% if i.payment %}
                            <!-- your_template.html -->
                            <form method="post" action="{% url 'order:statusChange' i.id %}">
                                {% csrf_token %}
                                
                                <label for="status" class="label">Status:</label>
                                <select name="status" id="status">
                                    {% for choice in i.STATUS_CHOICES %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == i.status %}selected{% endif %}>
                                        {{ choice.1 }}
                                    </option>
                                    {% endfor %}
                                </select>
                                
                                <button type="submit" class="btn btn-block">Save</button>
                            </form>

                        {% else %}
                            <a href="" class="btn btn-block">Not Confirmed</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}
