{% extends 'adminPanel/adminPanel.html' %}
{% block content %}

<div id="sidebarMenu" class="sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a href="{% url 'adminPanel:adminPanel' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="{% url 'adminPanel:adminProducts' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
            </a>
            <a href="{% url 'order:rental_management' %}" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-lock fa-fw me-3"></i><span>Rental Details</span>
            </a>
            <a href="{% url 'adminPanel:adminCategory' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Category</span>
            </a>
            <a href="{% url 'adminPanel:product_offer_form' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Product Offers</span>
            </a>
            <a href="{% url 'adminPanel:category_offer_form' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Category Offers</span>
            </a>
            <a href="{% url 'adminPanel:coupons_page' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Coupons</span>
            </a>
            <a href="{% url 'adminPanel:providerList' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Providers</span>
            </a>
            <a href="{% url 'adminPanel:renterList' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Renters</span>
            </a>
        </div>
    </div>
</div>

<div id="productContent" class="container d-flex flex-column" style="max-width: 900px; height: 500px; margin-top: 110px; margin-left: 300px;">
    <h1 class="text-2xl">Rental Details</h1><br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <ul class="list-group">
        {% for i in ord %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="mb-1">Product: {{ i.product }}</h4>
                        <p class="mb-1">Quantity: {{ i.quantity }}</p> 
                        <p class="mb-1">Days required: {{ i.days_needed }}</p>
                        <p class="mb-1">Distance: {{ i.distance|floatformat:2 }} km</p>
                    </div>
                    <div class="col d-flex flex-column align-items-end">
                        <span class="mb-2" style="color: #000000;">Total price: ₹{{ i.total_price }}</span>
                        <div class="footer">
                            {% if i.payment %}
                                <!-- your_template.html -->
                                <form method="post" action="{% url 'order:statusChange' i.id %}">
                                    {% csrf_token %}
                                    <div class="row g-2 align-items-center">
                                        <div class="col-auto">
                                            <label for="status" class="label me-2">Status:</label>
                                        </div>
                                        <div class="col-auto">
                                            <select name="status" id="status" class="form-select">
                                                {% for choice in i.STATUS_CHOICES %}
                                                    <option value="{{ choice.0 }}" {% if choice.0 == i.status %}selected{% endif %}>
                                                        {{ choice.1 }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-success" style="margin-top: -15px;">Save</button>
                                        </div>
                                    </div>
                                </form>
                                
                                {% if i.payment_provider %}
                                    <button class="btn btn-danger hover" style="margin-left: 10px;">Payment completed</button>
                                {% else %}
                                    <a href="{% url 'payments:provider_pay' i.id %}" class="btn btn-danger" style="margin-left: 10px;">Pay to Provider</a>
                                {% endif %}
                            {% else %}
                                <a href="" class="btn btn-block">Not Confirmed</a>
                            {% endif %}
                            <a href="{% url 'adminPanel:order_complete_details' i.id %}" class="btn btn-info" style="margin-left: 10px;">Details</a>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination mt-4">
        <span class="step-links">
            {% if ord.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ ord.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ ord.number }} of {{ ord.paginator.num_pages }}.
            </span>
    
            {% if ord.has_next %}
                <a href="?page={{ ord.next_page_number }}">next  </a>
                <a href="?page={{ ord.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
