{% extends "adminPanel/adminPanel.html" %}
{% block content %}
<div id="sidebarMenu" class="sidebar bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush">
            <a href="{% url 'adminPanel:adminPanel' %}" class="list-group-item list-group-item-action py-2 ripple  ">
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="{% url 'adminPanel:adminProducts' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Products</span>
            </a>
            <a href="{% url 'order:rental_management' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-lock fa-fw me-3"></i><span>Rental Details</span>
            </a>
            <a href="{% url 'adminPanel:adminCategory' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Category</span>
            </a>
            <a href="{% url 'adminPanel:user_offers' %}" class="list-group-item list-group-item-action py-2 ripple active">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Offers</span>
            </a>
            <a href="{% url 'adminPanel:coupons_page' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Coupons</span>
            </a>
            <a href="{% url 'adminPanel:providerList' %}" class="list-group-item list-group-item-action py-2 ripple">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Providers</span>
            </a>
            <a href="{% url 'adminPanel:renterList' %}" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-chart-line fa-fw me-3"></i><span>Renters</span>
            </a>
        </div>
    </div>
</div>

<div id="productContent" class="container d-flex flex-column" style="max-width: 800px; height: 500px; margin-top: 120px; margin-left: 300px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'adminPanel:add_user_offer' %}"><button type="submit" class="btn btn-success">Add Offer</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Discount</th>
                <th>Offer type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cop %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.discount }}%</td>
                <td>{{ c.coupon_type }}</td>
                <td>
                    <form action="{% url 'adminPanel:coupons_activate_deactivate' c.id %}" method="post">
                        {% csrf_token %}
                        {% if c.is_active %}
                            <button type="submit" class="btn btn-danger">Deactivate</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Activate</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
