{% extends "homePage.html" %}
{% load static %}
{% block content %}
    
    <div style="margin-top: 20px; margin-left: 100px; margin-right: 100px; padding: 20px 20px 20px 20px;">
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    <div class="container mr-75">
        <div><h2>Shipping Address</h2></div>
        <form action="{% url 'order:confirmRental' %}" method="post">
            {% csrf_token %}
            {% if address%}
            <div class="d-flex">
                {% for ad in address|slice:"-2:" %}
                    <div class="card  ml-3 mr-3 mb-2" style="width: 18rem;">
                        <div class="card-body">
                            <label class="d-flex justify-content-end mb-2">
                                <input type="radio" name="selected_address" value="{{ ad.id }}" required >
                            </label>
                            <h5 class="card-title">{{ad.addressType}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ad.firstname}}</h6>
                            <a href="{% url 'cart:deleteUserAddress' ad.id %}" class="btn btn-block">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
                <div class="mr-2 mb-2">
                    <div class="mr-2 mb-2">
                        <a href="{% url 'cart:addAddress' %}"><img src="{% static 'image/add.png' %}" alt="" width="100" height="100"></a>
                    </div>                    
                </div>
            </div>
            {% if address %}
                <div class="d-flex justify-content-end" style="margin-right: 70px;">
                    <button type="submit" class="btn btn-secondary">Confirm Rental</button>
                </div>
            {% endif%}
        </form>        
    </div>
    
{% endblock %}
