{% extends "homePage.html" %}

{% block content %}
<style>
        body {
            background-color: #ffffff;
        }
    
    .sidenav {
      height: 100%;
      width: 160px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #C1DCDC;
      overflow-x: hidden;
      padding-top: 20px;
      padding-top: 130px;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 20px;
      color: black;
      display: block;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .main {
      margin-left: 160px; /* Same as the width of the sidenav */
      font-size: 20px; /* Increased text to enable scrolling */
      padding: 0px 50px 100px;
      padding-top: 20px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    
    .active {
        background-color: white;
    }
    .list-group-item{
        background-color: #f1f1f1;
    }
</style>

<div class="sidenav">
    <a href="{% url 'provider:providerPanel' %}" class="active">Products</a>
    <a href="{% url 'provider:provider_details' %}" >Profile</a>
    <a href="{% url 'provider:providerApproval' %}" >Rentals</a>
</div>

<div class="main" >
    <h1 class="text-2xl">My Products</h1>
    <a href="{% url 'provider:providerAddProducts' %}" class="btn btn-primary mt-2">Add Products</a><br>

    {% if request.user.products.all %}
    <ul class="list-group" style="margin:10px;">
        {% for product in request.user.products.all %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start img-thumbnail" style="width: 100%; max-width: 150px; max-height: 100px;" alt="{{ product.title }}">
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                    </div>
                    <div class="col-md-8" style="padding-top: 20px;">
                        <h5>{{ product.title }}</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>{{ product.description }}</p>
                            <p>Price: ₹{{ product.price }}</p>
                            <div class="btn-group" role="group">
                                <a href="{% url 'provider:providerDeleteProducts' product.id %}" class="btn btn-danger mb-2">Delete</a>
                                <a href="{% url 'provider:providerUpdateProducts' product.id%}" class="btn btn-primary mb-2">Update</a>
                            </div>
                            <!-- Add more details as needed -->
                        </div>
                    </div>
                </div>
            </li><br>
        {% endfor %}
    </ul>
    
    {% else %}
        <div class="alert alert-info mt-4">
            You don't have any products yet...
        </div>
    {% endif %}
</div>
{% endblock %}
