{% extends "homePage.html" %}
{% block content %}
<style>
    body {
        background-color: #ffffff;
    }

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C1DCDC;
  overflow-x: hidden;
  padding-top: 20px;
  padding-top: 130px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 50px 100px;
  padding-top: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.active {
    background-color: white;
}
</style>

<div class="sidenav">
    <a href="{% url 'provider:providerPanel' %}">Products</a>
    <a href="{% url 'provider:provider_details' %}" class="active" >Profile</a>
    <a href="{% url 'provider:providerApproval' %}" >Rentals</a>
</div>


<div class="main">

    <form action="{% url 'provider:provider_details' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if provider_instance_set %}
                <div class="form-group">
                    <label for="pan_number">PAN Number:</label>
                    <input type="text" class="form-control" name="pan_number" required value="{{ provider_instance_set.pan_card }}"><br>
                </div>
                <div class="form-group">
                    <label for="pan_image">PAN Image:</label>
                    {% if provider_instance_set.pan_photo %}
                        <img src="{{ provider_instance_set.pan_photo.url }}" alt="PAN Image" style="max-width: 100%;">
                        <br>
                    {% endif %}
                    <input type="file" class="form-control-file" id="pan_image" name="pan_image"><br>
                </div>
                <div class="form-group">
                    <label for="paypal_mail">Paypal email:</label>
                    <input type="email" class="form-control" name="paypal_mail" required value="{{ provider_instance_set.paypal_id }}"><br>
                </div>
        {% else %}
            <div class="form-group">
                <label for="pan_number">PAN Number:</label>
                <input type="text" class="form-control" name="pan_number" required><br>
            </div>
            <div class="form-group">
                <label for="pan_image">PAN Image:</label>
                <input type="file" class="form-control-file" id="pan_image" name="pan_image" required><br>
            </div>
            <div class="form-group">
                <label for="paypal_mail">Paypal email:</label>
                <input type="email" class="form-control" name="paypal_mail" required><br>
            </div>
        {% endif %}
        <button class="btn btn-secondary">Submit</button>
    </form>
    
</div>

{% endblock %}
