{% extends "homePage.html" %}
{% block content %}
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
            color: #343a40;
            margin: 0;
        }

        .product-container {
            display: flex;
            align-items: flex-start;
            max-width: 800px;
            overflow: hidden;
            background-color: #f8f9fa;
            border-radius: 10px;
            margin: 20px auto;
        }

        .additional-images-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-left: 10px;
        }

        .additional-image {
            width: 100px;
            height: auto;
            border: 2px solid #dee2e6;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .main-image-container {
            width: 65%;
            margin-left: 10px;
            margin-right: 10px;
        }

        .main-image {
            max-width: 100%;
            max-height: 300px;
            width: auto;
            height: auto;
            object-fit: contain;
            border: 2px solid #dee2e6;
            border-radius: 8px;
            margin-bottom: 10px;
        }

        .text-container {
            width: 30%;
            padding: 20px;
            background-color: #007bff;
            color: #ffffff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        h2, p, h1, form {
            text-align: left;
            margin-bottom: 10px;
        }

        button {
            background-color: #ffffff;
            color: #007bff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
            color: #ffffff;
        }
    </style>

    <div style="margin-top: 10rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    {% if product.image.url %}
                    <img class="main-image zoom" src="{{ product.image.url }}" alt="Main Product Image">
                    {% endif %}
                    <div class="additional-images-container mt-4">
                        <div class="d-flex flex-row">
                            {% for image in product.multipleimage_set.all %}
                                <img class="additional-image zoom me-2" src="{{ image.image.url }}" alt="Additional Product Image" onclick="swapImages(this)">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- Additional Images Column -->
                <div class="col-md-6 mb-4">
                    <h2>{{ product.title }}</h2>
                    <div class="p-4">
                        <p class="lead">
                            {% if product.discounted_price %}
                                <strong>Offer Price: ₹{{ product.discounted_price }} per day</strong><br>
                                <p><strike>Price: ₹{{ product.price }} per day</strike></p>
                            {% else %}
                                <span>Price: ₹{{ product.price }} per day</span>
                            {% endif %}
                        </p>
                        <strong><p style="font-size: 20px;">Description</p></strong>
                        <p>{{ product.description }}</p>
                        <strong><p style="font-size: 20px;">Provided by</p></strong>
                        <p>{{ product.user.first_name }}</p>
                        <form class="d-flex justify-content-left" method="post" action="{% url 'cart:addToCart' product.id %}">
                            {% csrf_token %}
                            <div class="form-outline me-1" style="width: 100px;">
                                <button type="submit" class="btn btn-primary">Rent it</button>
                            </div>
                        </form>
                    </div>
                    <!-- Additional Images Container -->
                </div>
            </div>
        </div>    
    </div>
    
    <script>
        // Disable Zoom.js scaling bar
        Zoom.noZoom = true;

        function swapImages(clickedImage) {
            var mainImage = document.querySelector('.main-image');
            var tempSrc = mainImage.src;
            mainImage.src = clickedImage.src;
            clickedImage.src = tempSrc;
        }
    </script>
    <!-- Zoom.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zoom/2.3.2/zoom.min.js"></script>
{% endblock %}

