{% extends "homePage.html" %}
{% block content %}
<div class="container-shadow" style="margin-top: 20px; margin-left: 40px; margin-right: 70px;">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
            <div class="card w-100">
                <div class="card-body ">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h3>Rental Details</h3>
                    <h5 class="card-title">{{ ord.product }}</h5>
                    <p class="card-text">
                        <strong>Days Required:</strong> {{ ord.days_needed }} Day<br>
                        <strong>Quantity:</strong> {{ ord.quantity }} Number<br>
                        {% if ord.coupon %}
                            <strong>Product Price:</strong> ₹{{ ord.offer_total_price }}<br>
                            <strong>Delivery Charges:</strong> ₹{{ ord.offer_delivery_charge }}<br>
                            <strong>Platform Charges:</strong> {{ ord.platform_charges }}<br>
                            <strong>Security Charges:</strong> {{ ord.offer_caution_deposit }}<br>
                        
                            <form action="{% url 'order:coupon_clear' ord.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="coupon_clear" value="true">
                                <input type="text" name="coupons" for="coupons" placeholder="Enter Coupon code" value={{ ord.coupon }}>
                                <button type="submit" class="btn btn-block">Clear</button>
                            </form>
                            <br><h4>Total Charges: ₹{{ ord.offer_total_charges }}/-</h4><br>
                        {% else %}
                            <strong>Product Price:</strong> ₹{{ ord.total_price }}<br>
                            <strong>Delivery Charges:</strong> ₹{{ ord.delivery_charge }}<br>
                            <strong>Platform Charges:</strong> {{ ord.platform_charges }}<br>
                            <strong>Security Charges:</strong> {{ ord.caution_deposit }}<br>
                        
                            <form action="{% url 'order:coupon_apply' ord.id %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="coupons" for="coupons" placeholder="Enter Coupon code">
                                <button type="submit" class="btn btn-block">Check</button>
                            </form>
                            <br><h4>Total Charges: ₹{{ ord.total_charges }}/-</h4>
                        {% endif %}
                        <form action="{% url 'payments:payment_selection' ord.id %}" method="post">
                            {% csrf_token %}
                            <label for="payment_type" class="label">Type:</label>
                            <select name="payment_type" id="payment_type">
                                {% for choice in PAYMENT_CHOICE %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == i.payment_choice %}selected{% endif %}>
                                        {{ choice.1 }}
                                    </option>
                                {% endfor %}
                            </select><br><br>
                            <button class="btn">Pay now</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
