{% extends "homePage.html" %}
{% block content %}
<div class="container-shadow" style="margin-top: 20px; margin-left: 40px; margin-right: 70px;">
    <div class="container" style="margin-top: 8rem;">
        <div class="col-md-6 d-flex justify-content-end">
            <div class="card w-100">
                <div class="card-body ">
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <h3>Rental Details</h3>
                    <h2 class="card-title">Product: {{ ord.product }}</h2>
                    <p class="card-text">
                        <label for="days-required">Days Required:</label>
                        <input type="text" id="days-required" name="days_required" value="{{ ord.days_needed }}" readonly><br>

                        <label for="quantity">Quantity:</label>
                        <input type="text" id="quantity" name="quantity" value="{{ ord.quantity }}" readonly><br>

                        {% if ord.coupon %}
                            <label for="product-price">Rental Price:</label>
                            <input type="text" id="product-price" name="product_price" value="₹{{ ord.offer_total_price }}" readonly><br>
                            
                            <label for="delivery-charges">Delivery Charges:</label>
                            <input type="text" id="delivery-charges" name="delivery_charges" value="₹{{ ord.offer_delivery_charge }}" readonly><br>
                            
                            <label for="platform-charges">Platform Charges:</label>
                            <input type="text" id="platform-charges" name="platform_charges" value="{{ ord.platform_charges }}" readonly><br>
                            
                            <label for="security-charges">Security Charges:</label>
                            <input type="text" id="security-charges" name="security_charges" value="{{ ord.offer_caution_deposit }}" readonly><br>
                            
                        
                            <form action="{% url 'order:coupon_clear' ord.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="coupon_clear" value="true">
                                <input type="text" name="coupons" for="coupons" placeholder="Enter Coupon code" value={{ ord.coupon }}>
                                <button type="submit" class="btn btn-outline-dark">Clear</button>
                            </form>
                            <br><h4>Total Charges: ₹{{ ord.offer_total_charges }}/-</h4><br>
                        {% else %}
                            <label for="product-price">Product Price:</label>
                            <input type="text" id="product-price" name="product_price" value="₹{{ ord.total_price }}" readonly><br>
                            
                            <label for="delivery-charges">Delivery Charges:</label>
                            <input type="text" id="delivery-charges" name="delivery_charges" value="₹{{ ord.delivery_charge }}" readonly><br>
                            
                            <label for="platform-charges">Platform Charges:</label>
                            <input type="text" id="platform-charges" name="platform_charges" value="{{ ord.platform_charges }}" readonly><br>
                            
                            <label for="security-charges">Security Charges:</label>
                            <input type="text" id="security-charges" name="security_charges" value="{{ ord.caution_deposit }}" readonly><br>
                            
                            
                            <form action="{% url 'order:coupon_apply' ord.id %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="coupons" for="coupons" placeholder="Enter Coupon code">
                                <button type="submit" class="btn btn-outline-dark">Check</button>
                            </form>
                            <br><h4>Total Charges: ₹{{ ord.total_charges }}/-</h4>
                        {% endif %}
                        <form action="{% url 'payments:payment_selection' ord.id %}" method="post">
                            {% csrf_token %}
                            <label for="payment_type" class="label">Type:</label>
                            <select name="payment_type" id="payment_type">
                                {% for choice in PAYMENT_CHOICE %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == i.payment_choice %}selected{% endif %}>
                                        {{ choice.1 }}
                                    </option>
                                {% endfor %}
                            </select><br><br>
                            <button class="btn btn-outline-dark">Pay now</button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
