{% extends "homePage.html" %}
{% block content %}
    <div class="container" style="margin-top: 8rem;">
        <h2>Make payment</h2>
        <p>You can pay using your wallet balance</p>
        <h4>Your wallet balance ₹{{ wallet.balance_amount }}</h4>
        {% if ord.coupon %}
        <h3>Amount payable ₹{{ ord.offer_total_charges }}</h3>
        {% else %}
        <h3>Amount payable ₹{{ ord.total_charges }}</h3>
        {% endif %}
        {% if ord.payment %}
        <p>Payed</p>
        {% else %}
        <form action="{% url 'payments:wallet_debit' ord.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger">Pay Know</button>
        </form>
        {% endif %}
    </div>
{% endblock %}