{% extends "homePage.html" %}
{% block content %}
    <div class="container">
        <h2>Wallet</h2>
        {% if wall %}
        <p>Your Wallet balance is <input readonly value="₹{{ wall.balance_amount }}/-"></input></p>
        {% else %}
        <p>Your wallet is empty
        </p>
        {% endif %}
        <p>Add money to your wallet made simple</p>
        <form action="">
            <input type="number" placeholder="Enter the amount">
            <button type="submit" class="btn btn-block">Add Money</button>
        </form>
    </div>
{% endblock %}